/* Inizializzazione CSS */
:root {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: lightblue;
}




/* Stili Header */
.content {
    width: 97%;
    height: 45px;
    margin: 0px auto;
}

#navBar {
    background-color: white;
    font-size: 25px;
}

#logo {
    height: 43px;
    line-height: 43px;
    vertical-align: middle;
}


/* Stili Main */

main {
    font-size: 13px;
}

.content2 {
    width: 70%;
    margin: 25px auto;
    background-color: white;
    border-radius: 5px;
}

.content3 {
    width: 90%;
    margin: 0px auto;
    padding-top: 5px;
}

button {
    outline: none;
    border: 1px solid lightgrey;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    font-size: 8px;
    width: 80px;
    height: 25px;
    font-weight: bold;

}

.btn {
    padding-bottom: 5px;
}

#btn-hover {
    background-color: lightseagreen;
}

button:hover {
    background-color: lightseagreen;
}

.border {
    border-bottom: 2px solid lightblue;
}

.arrow::before{
    content:"\2965";
    font-size: 15px;
}

.arrow{
    font-size: 20px;

}

.tasks{
    padding-top: 10px;
    padding-bottom: 10px;
}

.check-v::before{
    content: "\2714";
    padding: 3px;
    font-size: 6px;
    color: green;
    border: 1px solid green;
    border-radius: 100%;
}

.check{
    font-size: 12px;
}

.btn-check{
    font-size: 8px;
    font-weight: 400;
    width: auto;
    border-radius: 10px;
    color: white;
    border-color: lightskyblue;
    background-color: lightskyblue ;

}

.text-task{
    padding-top: 2px;
    padding-bottom: 2px;
}
